# Instacart Grocery Basket Analysis (Part 1: Aggregations)

## Contents:
    
1.Importing libraries and files

2.Customer profile ggregations for usage frequency and expenditure

#### 1.Importing libraries and files

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#importing data
path = r'/Users/tiaoshrieh/Desktop/IC Project'

In [3]:
all_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers.pkl'))

In [4]:
all_merged

,user_id,gender,state,age,date_joined,number_of_dependents,family_status,income,product_id,product_name,...,avg_price,spending_flag,freq_median,order_frequency_flag,region,exclusion_flag,age_category,income_flag,family_income_profile,age_family_profile
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,7.988889,Low spender,19.0,Regular customer,Midwest,high_activity,Middle age,High,high_income married adault,Middle age married adault
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,7.988889,Low spender,19.0,Regular customer,Midwest,high_activity,Middle age,High,high_income married adault,Middle age married adault
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,7.988889,Low spender,19.0,Regular customer,Midwest,high_activity,Middle age,High,high_income married adault,Middle age married adault
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,7.988889,Low spender,19.0,Regular customer,Midwest,high_activity,Middle age,High,high_income married adault,Middle age married adault
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,7.988889,Low spender,19.0,Regular customer,Midwest,high_activity,Middle age,High,high_income married adault,Middle age married adault
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,80148,Female,New York,55,4/1/2020,1,married,57095,38750,"Protein Bar, Chocolate Pretzel",...,3.886667,Low spender,12.0,Regular customer,Northeast,low_activity,Middle age,Low,NaN,Middle age married adault
32404855,80148,Female,New York,55,4/1/2020,1,married,57095,39069,Chocolate Coconut Almond Protein Bar,...,3.886667,Low spender,12.0,Regular customer,Northeast,low_activity,Middle age,Low,NaN,Middle age married adault
32404856,80148,Female,New York,55,4/1/2020,1,married,57095,39972,Chocolate Fudge High Protein Bar,...,3.886667,Low spender,12.0,Regular customer,Northeast,low_activity,Middle age,Low,NaN,Middle age married adault
32404857,80148,Female,New York,55,4/1/2020,1,married,57095,41427,Cookies 'N Cream Protein Bar,...,3.886667,Low spender,12.0,Regular customer,Northeast,low_activity,Middle age,Low,NaN,Middle age married adault
32404858,80148,Female,New York,55,4/1/2020,1,married,57095,48335,Chocolate Brownie Energy Bar,...,3.886667,Low spender,12.0,Regular customer,Northeast,low_activity,Middle age,Low,NaN,Middle age married adault

In [5]:
deps_df = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))

#### 2. Customer profile aggregations

In [38]:
#age and family status aggregations
age_family_aggs = all_merged.groupby('age_family_profile').agg({'prices': ['mean', 'min', 'max'], 'days_since_prior_order': ['mean', 'min', 'max']})

In [27]:
#Average product price by age and family status
age_family_mean = all_merged.groupby('age_family_profile').agg({'prices': 'mean'})
print(age_family_mean)

                                             prices
age_family_profile
Middle age married adault                  7.792894
Middle age single adault                   7.789422
Senior divorced/widowed adault             7.800975
Senior married adault                      7.793420
Young living with parents/siblings adault  7.800712
Young married adault                       7.784930
Young single adault                        7.779520

In [24]:
#most sold product among different groups of age and family status
age_fam_prods_mode = all_merged.groupby('age_family_profile')['product_name'].apply(lambda x: x.mode()[0])
nunique_mode_values = all_merged.groupby('age_family_profile')['product_name'].apply(lambda x: x.mode().nunique())
print(age_fam_prods_mode)
print(nunique_mode_values)

age_family_profile
Middle age married adault                    Banana
Middle age single adault                     Banana
Senior divorced/widowed adault               Banana
Senior married adault                        Banana
Young living with parents/siblings adault    Banana
Young married adault                         Banana
Young single adault                          Banana
Name: product_name, dtype: object
age_family_profile
Middle age married adault                    1
Middle age single adault                     1
Senior divorced/widowed adault               1
Senior married adault                        1
Young living with parents/siblings adault    1
Young married adault                         1
Young single adault                          1
Name: product_name, dtype: int64

In [31]:
#total sales by age and family status
sales_age_fam = all_merged.groupby('age_family_profile')['prices'].sum()
print(sales_age_fam)

age_family_profile
Middle age married adault                    59446366.1
Middle age single adault                     19812206.9
Senior divorced/widowed adault               21619270.8
Senior married adault                        64639981.4
Young living with parents/siblings adault    12094239.6
Young married adault                         53175757.4
Young single adault                          21638298.4
Name: prices, dtype: float64