01.Import libraries

In [3]:
#Importing libraries
import pandas as pd
import numpy as np
import os

02.import data

In [4]:
#importing data
path = r'/Users/tiaoshrieh/Desktop/IC Project'

In [5]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_merged_new.pkl'))

03.Compare statistics for the main dataset and the subset

In [6]:
df = ords_prods_merge[:1000000]

In [7]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

In [8]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The numbers are slightly different but mostly the proportions are the same. I prefer to use the entire set for my analysis to get more percise insights.

04.Create loyalty flag

In [9]:
#Grouping by user id and aggregating order number
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [10]:
ords_prods_merge.head(15)

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5.0,0.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1.0,1.0,both,Regularly busy,Mid-range product,Regularly busy,Average orders,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20.0,0.0,both,Busiest day,Mid-range product,Busiest day,Average orders,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10.0,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11.0,1.0,both,Least busy,Mid-range product,Least busy,Average orders,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7.0,0.0,both,Regularly busy,Mid-range product,Busiest day,Average orders,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2.0,0.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1.0,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1.0,0.0,both,Regularly busy,Mid-range product,Busiest day,Average orders,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2.0,1.0,both,Regularly busy,Mid-range product,Busiest day,Most orders,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1.0,0.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1.0,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3.0,1.0,both,Least busy,Mid-range product,Least busy,Most orders,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4.0,1.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8.0,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,13

In [11]:
#Creating flag column
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [12]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] > 10) & (ords_prods_merge['max_order'] <= 40), 'loyalty_flag'] = 'Regular customer'

In [13]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [14]:
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,3.0,5.0,0.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,20.0,1.0,1.0,both,Regularly busy,Mid-range product,Regularly busy,Average orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,6.0,20.0,0.0,both,Busiest day,Mid-range product,Busiest day,Average orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,NaN,10.0,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,9.0,11.0,1.0,both,Least busy,Mid-range product,Least busy,Average orders,3,New customer

In [15]:
ords_prods_merge['loyalty_flag'].value_counts()

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
 ords_prods_merge.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max','sum']})

                     prices
                       mean  min      max          sum
loyalty_flag
Loyal customer    10.386336  1.0  99999.0  106814042.2
New customer      13.294670  1.0  99999.0   83011787.2
Regular customer  12.495717  1.0  99999.0  198391693.2

In [17]:
 ords_prods_merge.groupby('user_id').agg({'prices' : ['mean', 'min', 'max','sum']})

           prices
             mean  min   max     sum
user_id
1        6.367797  1.0  14.0   375.7
2        7.515897  1.3  14.8  1465.6
3        8.197727  1.3  14.4   721.4
4        8.205556  1.4  14.6   147.7
5        9.189189  3.2  14.8   340.0
...           ...  ...   ...     ...
206205   8.909375  1.4  23.8   285.1
206206   7.646667  1.1  14.8  2179.3
206207   7.313453  1.2  24.7  1630.9
206208   8.366617  1.1  21.6  5664.2
206209   7.058915  1.1  18.8   910.6

[206209 rows x 4 columns]

In [18]:
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,3.0,5.0,0.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,32,Regular customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,20.0,1.0,1.0,both,Regularly busy,Mid-range product,Regularly busy,Average orders,32,Regular customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,6.0,20.0,0.0,both,Busiest day,Mid-range product,Busiest day,Average orders,5,New customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,NaN,10.0,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,3,New customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,9.0,11.0,1.0,both,Least busy,Mid-range product,Least busy,Average orders,3,New customer

05.Create spending flag

In [19]:
#Grouping by user id and aggregating prices
ords_prods_merge['avg_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [20]:
#Creating spending flag 
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [21]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [22]:
ords_prods_merge

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,reordered,_merge,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,0.0,both,Regularly busy,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,1.0,both,Regularly busy,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,0.0,both,Busiest day,Mid-range product,Busiest day,Average orders,5,New customer,7.930208,Low spender
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,0.0,both,Regularly busy,Mid-range product,Least busy,Most orders,3,New customer,4.972414,Low spender
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,1.0,both,Least busy,Mid-range product,Least busy,Average orders,3,New customer,4.972414,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49692,49688,Fresh Foaming Cleanser,73,11,13.5,1788356,200215,2,0,...,0.0,both,Busiest day,Mid-range product,Busiest day,Most orders,6,New customer,8.220313,Low spender
32404855,49692,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,200377,1,4,...,0.0,both,Least busy,Mid-range product,Least busy,Most orders,4,New customer,7.364516,Low spender
32404856,49692,49688,Fresh Foaming Cleanser,73,11,13.5,809510,200873,5,3,...,0.0,both,Regularly busy,Mid-range product,Least busy,Average orders,20,Regular customer,8.500344,Low spender
32404857,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2359893,200873,9,3,...,1.0,both,Regularly busy,Mid-range product,Least busy,Most orders,20,Regular customer,8.500344,Low spender
32404858,49692,49688,Fresh Foaming Cleanser,73,11,13.5,2385091,205926,11,1,...,0.0,both,Regularly busy,Mid-range product,Busiest day,Most orders,11,Regular customer,8.133333,Low spender

06.Create order frequency flag

In [23]:
#Grouping by user id and aggregating days since prior order
ords_prods_merge['freq_median'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [24]:
ords_prods_merge.loc[ords_prods_merge['freq_median'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [25]:
ords_prods_merge.loc[(ords_prods_merge['avg_price'] > 10) & ords_prods_merge['freq_median'] <= 20, 'order_frequency_flag'] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['freq_median'] <= 10, 'order_frequency_flag'] = 'frequent customer'

In [27]:
ords_prods_merge.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,...,busiest_day,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,freq_median,order_frequency_flag
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,...,Regularly busy,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,frequent customer
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,...,Regularly busy,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,frequent customer
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,...,Busiest day,Mid-range product,Busiest day,Average orders,5,New customer,7.930208,Low spender,8.0,frequent customer
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,...,Regularly busy,Mid-range product,Least busy,Most orders,3,New customer,4.972414,Low spender,9.0,frequent customer
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,...,Least busy,Mid-range product,Least busy,Average orders,3,New customer,4.972414,Low spender,9.0,frequent customer

In [29]:
ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [32]:
ords_prods_merge['prices'].max()

25.0

In [33]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_merged_final.pkl'))